[submodule "Character_Count_Alg_CPP"]
	path = Character_Count_Alg_CPP
	url = https://github.com/isaac-ba/Character_Count_Alg_CPP.git
[submodule "Huffman_LL_Insertion_Sort_CPP"]
	path = Huffman_LL_Insertion_Sort_CPP
	url = https://github.com/isaac-ba/Huffman_LL_Insertion_Sort_CPP.git
[submodule "HuffmanBinTree"]
	path = HuffmanBinTree
	url = https://github.com/isaacmba/HuffmanBinTree.git
[submodule "RadixSort"]
	path = RadixSort
	url = https://github.com/isaacmba/RadixSort.git
[submodule "KMeansAlg"]
	path = KMeansAlg
	url = https://github.com/isaacmba/KMeansAlg.git
[submodule "SchedulingAlg"]
	path = SchedulingAlg
	url = https://github.com/isaacmba/SchedulingAlg.git
[submodule "TravellingSalesmanAStar"]
	path = TravellingSalesmanAStar
	url = https://github.com/isaacmba/TravellingSalesmanAStar.git
